@page
@model SAOnlineMart.Frontend.Pages.Cart.IndexModel

<h1>Your Shopping Cart</h1>
<ul>
    @foreach (var item in Model.CartItems)
    {
    <li>
        @item.Product.Name - Quantity: @item.Quantity - Total: @(item.Quantity * item.Product.Price).ToString("C")
        <form method="post" asp-page-handler="Remove" asp-route-id="@item.Product.Id">
            <input type="submit" value="Remove" />
        </form>
    </li>
    }
</ul>
<a href="/Checkout">Proceed to Checkout</a>
